*{
  background-color: #ffd4de;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.tenor-gif-embed{
  max-width: 500px;
}
.tenor-gif-embed img{
    background-color: #fff;
}


.container .btn{
  display: flex;
  gap: 25px;
}

.btn a{
  text-decoration: none;
  color: #111;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: 0.5rem 1rem 3rem hsl(0 0% 0% / 0.3);
}
